/* Stylesheet : title, p, list, link, button, cartes, ul, li,*/
:root {
    --button-default:#1c91c9;
    --button-hover:#46c3e4;
    --button-onclick:#1072a1;
    --background:#fff3df;
    --titles: #df984c;
    --headings: #f00;
    --subheadings:#800000;
}

@import url('https://fonts.cdnfonts.com/css/blacklisted');
@import url('https://fonts.cdnfonts.com/css/poppins');