/* variables css, typographies, styles de base (h1-h6, p, a, ul, etc) Styles globaux qui s'appliquent à l'ensemble du site.*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'blacklisted';
    src: url('./../font/Blacklisted.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root {
    --button-default:#1c91c9;
    --button-hover:#46c3e4;
    --button-onclick:#1072a1;
    --background:#fff3df;
    --h1-h2-titles: #df984c;
    --h3-headings: #f00;
    --h4-subheadings:#800000;
    --nav-tabs:#F9F4E6;
    --p-font:#000000;
    --p-contrast:#F9F4E6;

    --text-font:poppins, serif ;
    --titles-font: blacklisted, serif;
}

h1, h2, h3, h4 {
    font-family: var(--titles-font);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2.6rem;
    color: var(--h1-h2-titles);
}

h2 {
    font-size: 2.25rem;
    color: var(--h1-h2-titles);
}

h3 {
    font-size: 1.6rem;
    color: var(--h3-headings);
}

h4 {
    font-size: 1.4rem;
    color: var(--h4-subheadings);
}

p {
    font-size: 1rem;
    color: var(--p-font);
    font-family: var(--text-font);
}

a {
    color:var(--p-contrast);
    text-decoration: none;
}

label {
    color: var(--p-font);
    font-size: 1rem;
    font-family: var(--text-font);
    font-weight: 350;
}

input, textarea {
    width: 550px;
    max-width: 100%;
    color: var(--p-font);
    font-size: 0.8rem;
    font-family: var(--text-font);
    border: 1px solid #D1D1D1;
}

input {
    margin: 0px 0px 6px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #1C91C9;
    border: 2px solid #D1D1D1;
    border-radius: 3px;
    outline: none;
}

input[type="checkbox"]:hover {
    border-color: #46C3E4;
}

input[type="checkbox"]:checked {
    background-color: #1072A1 ;
}

textarea {
    margin: 10px 0px 10px 0px;
    resize:none;
    box-sizing: border-box;
}


