/* header, main, footer, grilles, positionnement des éléments majeurs, conteneurs, limites de largeur*/

.tab {
    font-size: 1.2rem;
    color: var(--nav-tabs);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/header-bkg-test3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container{
    width: 150px;
    height: 150px;
    z-index: 1;
}


.menu li {
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;
    font-family: var(--titles-font);
    padding: 10px;
    margin-left: 10px;

}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu-header{
    font-family: var(--text-font);
    font-size: 1.2rem;
}

.banner img{
    width: 100%;
    height: auto;
}

/***********************************************************************************************/
.btn-primary {
    width: 180px;
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color:var(--p-contrast);
    background-color: var(--button-default);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.7);
}

.btn-primary:hover {
    background-color: var(--button-hover);
}

.btn-primary:active {
    background-color: var(--button-onclick);
}

.form-container{
    width: 600px;
    padding: 10px 0px 25px 20px;
    max-width: 100%;
    line-height: 2.1;
    background-color:#FFF3DF ;
    border: 1px solid #00000036;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}