/* stylesheet : header -> logo , footer, container + responsive*/

.tab{
    font-size: 1.2rem;
    color: var(--nav-tabs) ;
}

.signup, .login, .send, .cancel {
    background-color: var(--button-default);
    border:none;
    border-radius: 5px;
    width: 120px;
    padding: 0.25rem;
}

.signup:hover, .login:hover, .send:hover, .cancel:hover {
    background-color: var(--button-hover);
}

.signup:active, .login:active, .send:active, .cancel:active {
    background-color: var(--button-onclick);
}