/* stylesheet : header -> logo ,main, footer, grilles, positionnement, des element, majeurs, contenneurs, limites de largeur + responsive */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    background-color: var(--background-color);
}
/* style :  header */
/* stylesheet : header -> logo , footer, container + responsive*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/header-bkg-test3.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-container{
    width: 150px;
    height: 150px;
    z-index: 1;
}


.menu li {
    display: inline-block;
    list-style-type: none;
    font-size: 1rem;
    font-family: var(--titles-font);
    padding: 10px;
    margin-left: 10px;

}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu-header{
    font-family: var(--text-font);
    font-size: 1.2rem;
    color: var(--nav-tabs);
}

.btn-primary {
    width: 150px;
    padding: 0.4rem;
    font-size: 1rem;
    font-family: var(--titles-font);
    padding: 10px;
    margin-left: 10px;

}

.menu a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu-header{
    font-family: var(--text-font);
    font-size: 1.2rem;
}

.banner img{
    width: 100%;
    height: auto;
}
.tab{
    font-size: 1.2rem;
    color: var(--nav-tabs) ;
}

.signup, .login, .send, .cancel {
    background-color: var(--button-default);
    border:none;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.7);
}

.signup:hover, .login:hover, .send:hover, .cancel:hover {
    background-color: var(--button-hover);
}

.signup:active, .login:active, .send:active, .cancel:active {
    background-color: var(--button-onclick);
}

.signup, .login, .send, .cancel {
    background-color: var(--button-default);
    border:none;
    border-radius: 5px;
    width: 120px;
    padding: 0.25rem;
}
.hero-item, .hero-item ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

a{
    text-decoration: none;
}
.hero-item .logo {
    width: 71px;
    height: 70px;  
}
.hero-item img {
    width: 40px; 
}